.circles{
	position: absolute;
    z-index: 0;
	top: 0; left: 0;
	bottom: 0; right: 0;

	overflow: hidden;

	border-radius: inherit;
	pointer-events: none;
	user-select: none;
}

.circle{
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;

	border-radius: 50%;
	pointer-events: none;
	user-select: none;
}

.ripple{
	position: relative;
}
