body{
	background: #CCC;
}

button{
	background: #1150ff;
	color: white;

	outline: none;
	border: none;
	border-radius: 4px;
	padding: 8px 15px;

	/*CANDY*/
	transition: box-shadow 0.28s
			  cubic-bezier(0.4,0,0.2,1);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
	font-family: Myriad Pro, sans-serif;
	font-weight: 100;
	-webkit-user-select: none;
}
button:active{
	/*CANDY*/
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3),
			    0 2px 2px 0 rgba(0,0,0,0.2);
}
button:focus{
	outline: dotted 1px;
}
button.white{
	background: white;
	color: black;
}
